body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

nav {
	background-color: #336699;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}

nav a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	background-color: rgb(223, 223, 223);
	color: #154a80;
	border-radius: 5px;
}

header {
	background-color: #f5f5f5;
	padding: 20px;
	text-align: center;
	color: #275685;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

header h1 {
	font-size: 24px;
	margin: 0;
}

.slider {
	width: 50%;
	height: 600px;
	overflow: hidden;
	position: relative;
	float : left;
	margin-top: 20px;
}

.slider img {
	width: 100%;
	height: 90%;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	padding-top: 20px;
}

.slider img.active {
	opacity: 1;
}

.controls {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.prevBtn, .nextBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	cursor: pointer;
	background-color: #97b5d3;
	color: #ffff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.prevBtn:hover, .nextBtn:hover {
	background-color: #336699;
}

.prevBtn {
	left: 20px;
}

.nextBtn {
	right: 20px;
}
.downloadBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #557aa0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.downloadBtn:hover {
    background-color: #275685;
}

.downloadBtn {
	position: absolute;
	margin-top: 30px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.tile-container {
	float: right; /* align the container to the right */
	width: 50%; /* set the width of the container to 50% of the page */
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 30px;
	justify-content: center;
} 

.tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
	width: 60%;
	max-width: 600px;
	position: relative;
}
.tile a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none; /* No underlines on the link */
	z-index: 10; /* Places the link above everything else in the div */
	background-color: #FFF; /* Fix to make div clickable in IE */
	opacity: 0; /* Fix to make div clickable in IE */
	filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.tile-part-1,
.tile-part-2 {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.tile::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom right, #66ccff, #336699);
	opacity: 0.2;
	z-index: -1;
	border-radius: 10px;
}

.tile:hover {
	box-shadow: 0 0 15px #ccc;
}

.tile-part-1 {
	background-color: #336699;
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
  }
  
  .tile-part-2 {
	background-color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	color: #336699;
  }
  .calligraphic-font {
	font-family: 'Kaushan Script', cursive;
	color: #336699;
}

@media only screen and (max-width: 768px) {

	.slider {
		width: 100%;
		float: none;
	}
	.tile-container {
		width: 100%;
		float: none;
	}
	.tile {
		width: 80%;
	}
}
